<h1>Level <%= @question.level.name %> - <%= @question.description %></h1>

<p><%= link_to @question.incorrect_answer, next_question(@question) %> or <%= link_to @question.answer, next_question(@question) %> </p>