<div id="game-graphic" class="center border"> 
	<div id="q-headline" class="" style="float: left">
		<h1> <%= @question.description %> </h1>
			</div>
	<div id="gumball_machine"> 
		<div id="ball-1" class="ball"></div>
		<div id="ball-2" class="ball"></div>
		<div id="ball-3" class="ball"></div>
		<div id="ball-4" class="ball"></div>
		<div id="ball-5" class="ball"></div>
		<div id="ball-6" class="ball"></div>
		<div id="ball-7" class="ball"></div>
		<div id="ball-8" class="ball"></div>
		<div id="ball-9" class="ball"></div>
		<div id="ball-10" class="ball"></div>
		<div id="ball-11" class="ball"></div>
		<div id="ball-12" class="ball"></div>
	</div>	
	<!-- <p><%= link_to @question.incorrect_answer, answer_question_path(@question, :answer => @question.incorrect_answer) %> 
	  or <%= link_to @question.answer, answer_question_path(@question, :answer => @question.answer) %> </p> -->
</div>

<div id="button-bar" style="width:820px; margin:20px auto; padding:0px;">
	<div id="flag" style="width:80px; height:80px; border-style:solid; float:left; margin-right:10px;"> world ref </div>
	<!-- <div id="currency" class="border"> currency </div> -->
	<div id="next-button"></div>
	<div id="currency">
		<em></em>
		<span>£1 = 1.16$</span>
		<b></b>
	</div>
</div>

<script type="text/javascript">
var ballCount=0;
var colors = new Array();
var checked = new Array();
colors[0]="#FF1D25";
colors[1]="#3FA8F4";
colors[2]="#00A14F";
colors[3]="#FEC01E";

	$('.ball').click(function() {
		var id = this.id;
		var ballNum = id.split('-')[1];
		if (checked[ballNum] != true) {
			checked[ballNum] = true;
			$(this).css("background-color", colors[ballNum % colors.length]);
			ballCount++;
		} else {
			checked[ballNum] = false;
			$(this).css("background-color", "");
			ballCount--;
		}
		// console.log(ballCount);
	});
	
	$('#next-button').click(function() {
//		console.log(window.location.pathname + "/answer?answer="+ballCount);
		window.location = window.location.pathname + "/answer?answer="+ballCount;
	});
</script>