body {
  margin: 0;
	padding: 0;
  background: #F2EFDE;
}
#outer {
	margin: 0;
	padding: 0;
}

.map-stamp {
	position:relative;
	visibility:hidden;
}

#Europe-map-stamp {
	width : 107px; 
	height : 88px;
	top : 151px;
	left : 475px;
	background : url("/images/Assets/Levels_page/stamp_euro.png") no-repeat;
}

#Asia-map-stamp {
	width : 145px; 
	height : 103px;
	top : 108px;
	left : 585px;
	background : url("/images/Assets/Levels_page/stamp_asia.png") no-repeat;
}

#Australia-map-stamp {
	width : 175px; 
	height : 93px;
	top : 196px;
	left : 715px;
	background : url("/images/Assets/Levels_page/stamp_aus.png") no-repeat;
}

#Africa-map-stamp {
	width : 175px; 
	height : 93px;
	top : 10px;
	left : 417px;
	background : url("/images/Assets/Levels_page/stamp_africa.png") no-repeat;
}

#America-map-stamp {
	width : 175px; 
	height : 93px;
	top : -179px;
	left : 171px;
	background : url("/images/Assets/Levels_page/stamp_america.png") no-repeat;
}

.center {
	margin-left:auto;
	margin-right:auto;
}

.ball {
	border: 3px solid rgb(0,0,0);
	border-radius: 5em;
	#box-shadow: 5px 5px 5px black;
	padding: 0.7em;
	width: 1em;
	height: 1em;
#	background: rgb(155, 155, 155);
	margin-bottom: 2em;
	float: right;
	position: relative;
#	top: -80px;
#	right: 150px;
	text-decoration: none;
	color: black;
	position:relative;
	top: 55px;
	right: 87px;
	background-color: #ffffff;
}

#ball-1 {
	top: 188px;
	right: 85px;
}

#ball-2 {
	top: 199px;
	right: 82px;
}
#ball-3 {
	top: 200px;
	right: 87px;
	
}
#ball-4 {
	top: 180px;
	right: 90px;
}
#ball-5 {
	top: 170px;
	right: 10px;
	
}
#ball-6 {
	top: 145px;
	right: -160px;
	
}
#ball-7 {
	top: 148px;
	right: -160px;
	
}
#ball-8 {
	top: 83px;
	right: 146px;
	
}
#ball-9 {
	top: 52px;
	right: 133px;
	
}
#ball-10 {
	top: 60px;
	right: 130px;
	
}
#ball-11 {
	top: 30px;
	right: 113px;
	
}
#ball-12 {
	top: 37px;
	right: -45px;
	
}

@font-face {
	font-family: currency_font;
	src: url(/images/Assets/Game_page/fonts/Futura_LT_Medium.ttf);
}

@font-face {
	font-family: q_font;
	src: url(/images/Assets/Game_page/fonts/CANTABIL.ttf);
}

.game-font {
	font-family: q_font;
}

#q-headline {
	font-family: q_font;
}

#currency {
line-height:110px; /*equal to the height of the button*/
cursor: hand;
color: #ffffff;
font-family: currency_font;
position:relative;
bottom:-35px;
}

#currency em{
display: block;
float: left;
background: url(/images/Assets/Game_page/Currency_Converter/CC_World.png) no-repeat;
height: 100px;
width: 119px;
}
#currency span{
display: block;
float: left;
background: url(/images/Assets/Game_page/Currency_Converter/CC_bar_middle.png) repeat-x;
height: 164px;

}
#currency b{
display: block;
float: left;
background: url(/images/Assets/Game_page/Currency_Converter/CC_bar_end.png) no-repeat;
width: 21px;
height: 100px;
}

#congrats {
	width:645px;
	height:170px;
	float: left;
	background-position:center;
}

#theImg{
	margin-left:20%;
	margin-top:5%;
}

#level-prize {
	margin-left:150px;
	position:relative;
	top:-100px;
/*	float: right;*/
/*	margin-left: 30%;*/
}

#yes-no-question {
	position:relative;
	top: -300px;
	left: -300px;
}

.check-box {
	font-size: 1.2em;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 10px;
	border-color: black;
#	box-shadow: 5px 5px 5px black;
	padding: 1em;
	text-decoration: none;
	color: black;
	margin:0;
	width:20px;
	height:10px;
	
}

#yes-box.on{
	background-color: #00A14F;
}

#no-box.on {
	background-color: #FF1D25;
}

#yes-no-question td {

}

#question {
	height : 77.4%;
}

#answer {
	height: 77.4%;
	display: none; 
}
#a-headline {
	font-family: q_font;
}

.headline{
float: left;
width: 25%;
padding: 50px 20px 20px 100px;
}

#level-prize.fish {
	margin-left:120px;
	margin-top:210px;
}

#level-prize.stamp {
	margin-left:10px;
	margin-top:210px;
}

#prize-button {
	background: url(/images/Assets/Buttons/Prize_bt.png) no-repeat;
}

#prize-button:active {
	background: url(/images/Assets/Buttons/Prize_bt_C.png) no-repeat;
}

#play-button {
	background: url(/images/Assets/Buttons/Play_bt.png) no-repeat;
}

#play-button:active {
	background: url(/images/Assets/Buttons/Play_bt_C.png) no-repeat;
}

#next-button {
	background: url(/images/Assets/Buttons/Next_bt.png) no-repeat;
}

#next-button:active {
	background: url(/images/Assets/Buttons/Next_bt_C.png) no-repeat;
}

#enter-button {
#	margin-top:10px;
	background: url(/images/Assets/Buttons/Enter_bt.png) no-repeat;
}

#enter-button:active {
	background: url(/images/Assets/Buttons/Enter_bt_C.png) no-repeat;
}

.float-right {
	float: right;
	margin-right:1%;
	margin-top:20px;
	margin-bottom:0;
	padding:0;
}

.float-left {
	float: left;
	margin-left:50px;
	margin-top:20px;
}

.button {
	display: block;
	width:165px;
	height:75px;
	background-position:center;
	position:relative;
	bottom:-65px;
}

#map {
	width:950px; 
	height:600px;
	background-repeat : no-repeat;
	background-position:center;
}

#logo {
	width:650px; 
	height:450px;
	margin-top:5%;
	background: url(/images/logo.png) no-repeat;
	background-position:center;
}
.border {
	border-style:solid;
}

.sub-map{
	float:left;
	border-style:solid; 
	width:32.5%; 
	height:49%; 
	padding:0px;
	margin:0px;
}

.cenetr-text {
	text-align:center;
}

#game-graphic{
	width:820px; 
	height:450px;
}

.question-graphic{
	float: right;
	height: 100%;
	width:60%;
}

#multi-choice table {
	margin: 3% 0 0 5%;
}

#gumball-machine {
	width: 35%;
	float: right;
	background: url(/images/gumball_machine.png) no-repeat;
}

#sub-map-1{
	width:32.4%;
}
#sub-map-2{}
#sub-map-3{}
#sub-map-4{
	width:32.4%;
}
#sub-map-5{}
#sub-map-6{}
