<div id="multi-choice" class="question-graphic">
	<%= image_tag("Assets/Game_page/Game_Illustrations/lev1.png", :style => "padding-top: 50px;") %>
	<table id="yes-no-question" class="game-font">
		<tr>
			<td> <span id="yes"> <h1> Yes </h1> <span> </td>
			<td> <span id="no"> <h1> Na! </h1> <span> </td>
		</tr>
	</table>
</div>

<script type="text/javascript">

var answer = 0;

function switchImg(img){
	if (img.src.match(/_on/)){
		answer = 0;
		switchAllOff();
	} else{
		switchAllOff();
		img.src = img.src.replace(/_off/, "_on");
		answer = img.id.split('-')[1];
	}
}

function switchAllOff() {
	$("#multi-choice img").each(function() {
		this.src = this.src.replace(/_on/, "_off");
	});
}

$(document).ready(function(){
	$("#multi-choice img").click(function(){
		switchImg(this);
	});
	
	var flag=false;
	
	$('#next-button').click(function() {
		if (flag==false) {
			flag=true;
			$("#question").hide();
			$("#answer").append("<img id='level-prize' src=''/>");
			if (answer == <%= @question.answer%>) {
				$("#aaaa").append("That is the right answer, you got the stamp!!!");
				$("#answer img").attr("src","/images/Assets/Success_Page/" + <%= session[:level] + 1 %> + ".png");
			} else {
				$("#aaaa").append("Wrong answer, you got a stinky fish.");
				$("#answer img").attr("src","/images/Assets/Success_Page/Fish.png");
			}
			$("#answer").show();
		}else {
			window.location = window.location.pathname + "/answer?answer="+answer;
		}

	});
	
});
</script>