<div id="map"style="width:650px; height:450px; border-style:solid; align:center; margin-left:auto; margin-right:auto;">
	<div id="sub-map-1" class="sub-map"> 1 </div>
	<div id="sub-map-2" class="sub-map"> 2 </div>
	<div id="sub-map-3" class="sub-map"> 3 </div>
	<div id="sub-map-4" class="sub-map"> 4 </div>
	<div id="sub-map-5" class="sub-map"> 5 </div>
	<div id="sub-map-6" class="sub-map"> 6 </div>
</div>
<div id="enter_button" class="sub-map" style="width:185px; height:45px; border-style:solid;float: right; margin-right:10%;margin-top:100px"> 
Next
</div>