Level: <%= "#{session[:level]}" %>
<div id="map" class="center border">
</div>
<a href="questions/2"><div id="play-button"> </div> </a>

<script type="text/javascript">
var level = <%= session[:level] %>;
console.log(level);
switch(level)
{
case 0:
 $("#map").css('background-image', "url(/images/Assets/Levels_page/Level_1.png)");
  // $.('#map').css('backround','url(/images/Assets/Levels_page/Level_1.png)' );
  break;
case 1:
  // $.('#map').css('backround','url(/images/Assets/Levels_page/Level_2.png)' );
	$("#map").css("background-image", "url(/images/Assets/Levels_page/Level_2.png)");
  break;
case 2:
 	$('#map').css('backround','url(/images/Assets/Levels_page/Level_3.png) no-repeat' );
	break;
case 3:
	$('#map').css('backround','url(/images/Assets/Levels_page/Level_4.png) no-repeat' );
	break;
case 4:
	$('#map').css('backround','url(/images/Assets/Levels_page/Level_5.png) no-repeat' );
	break;
case 5:
	$('#map').css('backround','url(/images/Assets/Levels_page/Complete_map.png) no-repeat' );
 	$('#play-button').css('backround','url(/images/Assets/Levels_page/Prize_Button.png) no-repeat' );
	break;
default:
	console.log(level);
}
</script>